@* Tämä on kommenttia *@
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@*
    @{
        ViewBag.Title = "Index";
    }
    <h2>Index</h2>
    <p>Terve täältä View Templatesta!</p>

*@
@{
    ViewBag.Title = "Movie List";
}

<h2>My movie Lista</h2>
<p>Terve taas täältä View templeitista!</p>